.active-level-card, .active-word-card {
  border: 1px solid red;
}

.handbook {
  &__words {
    display: grid;
    grid-template-areas: 
    'words-title words-title'
    'word-cards word-card-info'
    'words-pagination words-pagination'
    ;
  }
  &__words-title {
    grid-area: words-title;
  }
  &__word-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    grid-area: word-cards;
  }
  &__word-card-info {
    grid-area: word-card-info;
  }
  &__words-pagination {
    grid-area: words-pagination;
  }

  &__word-card {
    min-width: 150px;
  }
}