@import '../utils/variables';
@import '../utils/mixines';

.answer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 45px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px $background-dark;
    align-items: center;
    padding: 0px 50px;
    width: 100%;
    gap: 10px;
    transition: .2s all;
    background-color: $background-light;

    &__ok,
    &__fault {
        display: none;
        position: absolute;
        top: 8px;
        left: 10px;

        &.visible {
            display: block;
        }
        filter: drop-shadow(0 0 3px $background-dark);
    }

    &:hover {
        box-shadow: 3px 3px 7px $background-dark;
        transition: .2s all;
    }

    &:active {
        transition: .2s all;
        transform: translateY(3px);
    }

    &.ok {
        background-color: $color-ok;
        .answer__ok {
            display: block;
        }
    }

    &.fault {
        background-color: $color-fault;
        .answer__fault {
            display: block;
        }
    }

    &__text {
        grid-column: 1/3;
        grid-row: 1/2;
        justify-self: center;
        @include addFont('Philosopher', normal, 600, 2rem, 0.06em, $text-dark, 1rem);
    }
}