.wrapper {
    min-height: 100%;
    width: 100%;
    display: grid;
    grid-template: [start] "header" minmax(100px, auto) [row2] [row2] "content" 1fr [row3] [row3] "footer" minmax(100px, auto) [row-end] / 1fr;
}

.content {
    grid-area: content;
    display: grid;
    
    &.main {
        grid-template: repeat(3, auto)  / 1fr;
    }

    &.handbook {
        grid-template: 1fr / 1fr;
    }

    &.gamechoice {
        grid-template: auto / 1fr;
    }    

    &.audiogame-start {
        grid-template: repeat(3, auto)  / 1fr;
    }

    &.audiogame-body {
        grid-template: 10% 1fr 10%/1fr;
    }
}
