.wrapper {
    min-height: 100%;
    width: 100%;
    display: grid;
    grid-template: [start] "header" minmax(100px, auto) [row2] [row2] "content" 1fr [row3] [row3] "footer" minmax(100px, auto) [row-end] / 1fr;
}

.content {
    grid-area: content;
    display: grid;
    grid-template: repeat(4, auto)  / 1fr;
}