.team {
    padding: 70px 10px;
    grid-column: 2/3;
    grid-row: 3/4;
    display: grid;
    align-items: center;
    grid-template: 5rem auto auto/ 1fr repeat(2, calc(($grid-container-width - $grid-container-gap) * 0.5)) 1fr;

    background-color: $background-light;
    gap: $grid-container-gap;

    &__title {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
        justify-self: center;
    }

    & :nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    & :nth-child(3) {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    & :nth-child(4) {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    & :nth-child(5) {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }
}