.team {
    padding: 50px 10px;
    grid-column: 2/3;
    grid-row: 3/4;
    display: grid;
    align-items: center;
    grid-template: 5rem auto / 1fr repeat(4, $grid-container-width * 0.25) 1fr;
    background-color: $background-light;
    gap: 30px;

    &__title {
        grid-column: 2 / 6;
        grid-row: 1 / 2;
        justify-self: center;
    }

    & :nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    & :nth-child(3) {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    & :nth-child(4) {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
    }

    & :nth-child(5) {
        grid-column: 5 / 6;
        grid-row: 2 / 3;
    }
    // &__title {}

    // &__item {}
}