$background-dark: #3a4b83;
$background-light: #f0f0f0;
$text-light: #dddddd;
$text-dark: #3a56b1;
$hover-dark: #517aff;
$shadow-dark: #222c4b;
$shadow-light: #f0f0f0;
$border-color-dark: #4d4d4d;
$border-color-light: #a3a3a3;
$grid-container-width: 90%;