$background-dark: #3a4b83;
$background-light: #f0f0f0;
$background-gray: #a8a8a8;
$background-selected: #fdba63;
$text-light: #dddddd;
$text-dark: #3a56b1;
$text-gray: #777777;
$text-darkgray: #494949;
$text-black: #000000;
$hover-dark: #517aff;
$shadow-dark: #222c4b;
$shadow-light: #f0f0f0;
$border-color-dark: #4d4d4d;
$border-color-light: #a3a3a3;
$grid-container-width: 90%;
$hard-word: #fa9c21;
$known-word: #187a0f;