$background-dark: #3a4b83;
$background-light: #f0f0f0;
$background-gray: #a8a8a8;
$background-selected: #fdba63;
$blackout: rgba(0, 0, 0, 0.3);
$text-white: #ffffff;
$text-light: #dddddd;
$text-dark: #3a56b1;
$text-gray: #777777;
$text-darkgray: #494949;
$text-black: #000000;
$hover-dark: #517aff;
$hover-dark-sel: #95a8e7;
$shadow-dark: #222c4b;
$shadow-light: #f0f0f0;
$border-color-dark: #4d4d4d;
$border-color-light: #a3a3a3;
$grid-container-width: 90%;
$grid-container-gap: 30px;
$hard-word: #fa9c21;
$known-word: #187a0f;
$audio-game-color: #dd9434;
$sprint-game-color: #3e59b3;
$timer-color: #526cc4;

$level-A1-color: #a1e4c8;
$level-A1-color-alpha: #a1e4c880;
$level-A2-color: #1d9b55;
$level-A2-color-alpha: #1d9b5580;
$level-B1-color: #e4dea8;
$level-B1-color-alpha: #e4dea880;
$level-B2-color: #d1c02b;
$level-B2-color-alpha: #d1c02b80;
$level-C1-color: #ce9d9d;
$level-C1-color-alpha: #ce9d9d80;
$level-C2-color: #c92323;
$level-C2-color-alpha: #c9232380;
$level-selected: #ff9100;
$level-selected-text: #ffffff;

$color-background-transparent: #00000080;

$color-fault: #cc3333;
$color-ok: #3bac3b;
